.ServerCard {
  border: 2px solid black;
  width: 300px;
  padding: 10px;
  margin: 1rem;
}

.server-active {
  background-color: green;
  border: black;
}

.server-not-active {
  background-color: red;
}
